{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <section class="section_without_color">
        <div class="container mb-5 mt-4">
            <h4>Изменить пароль</h4>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex mt-3">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Смена пароля</button>
                </div>
            </form>
        </div>
    </section>

{% endblock %}