{% extends 'base.html' %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset confirmation' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

    <section class="section_without_color">
        <div class="container h-100 mb-5 mt-4">
            {% if validlink %}
                {% if form.new_password1.errors %}
                    <div class="alert alert-danger">
                        {{ form.new_password1.errors }}
                    </div>
                {% endif %}
                {% if form.new_password2.errors %}
                    <div class="alert alert-danger">
                        {{ form.new_password2.errors }}
                    </div>
                {% endif %}

                <p class="mb-3">
                    {% translate "Please enter your new password twice so we can verify you typed it in correctly." %}
                </p>

                <form method="post">{% csrf_token %}
                <fieldset class="module aligned">
                    <div class="form-row field-password1 mb-3">
                        <label for="id_new_password1">{% translate 'New password:' %}</label>
                        <p>{{ form.new_password1 }}</p>
                    </div>
                    <div class="form-row field-password2 mb-3">
                        <label for="id_new_password2">{% translate 'Confirm password:' %}</label>
                        <p>{{ form.new_password2 }}</p>
                    </div>
                </fieldset>
                <input type="submit" class="btn btn-outline-success my-2 my-sm-0 mt-3"
                       value="{% translate 'Change my password' %}">
                </form>

            {% else %}
                <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
            {% endif %}
        </div>
    </section>

{% endblock %}
