{% extends 'base.html' %}
{% block content %}
    <section class="section_without_color" id="regulations">
        <div class="container mb-5 margin-top-90">
            <h1>Правила программы</h1>
            <div class="row mt-5">
                {% include 'web/inc/regulations_navbar.html' %}
                <div class="col-md-9">
                    <h2 class='bold'>Важно знать</h2>
                    <div class="col-md-12">
	                    <p>
                            1. Мы никогда не собираем с участников проекта денежные средства. Если кто-то от лица проекта
                            будет требовать заплатить за что-то, сразу пиши в службу поддержки проекта "МЫВМЕСТЕ".
                        </p>
	                    <p>
                            2. Для получения вознаграждения необходимо оформлять продукты только тех банков или МФО,
                            клиентом которых ты не являешься. Помни, что суть проекта в рекламе и привлечении новых
                            клиентов банкам-партнерам.
                        </p>
	                    <p>
                            3. Для получения вознаграждения необходимо оформить продукт и выполнить по нему целевое
                            действие. Это может быть просто активация, активация и транзакция. Зависит от выбранного
                            тобой продукта.
                        </p>
	                    <p>
                            4. Деньги участникам выплачивает только проект «МЫВМЕСТЕ». Рекламодатели не владеют
                            информацией о деятельности участников проекта. Поэтому запрещено обращаться в банки для
                            выплаты вознаграждений!
	                        <br>Все вопросы направляйте на службу поддержки проекта "МЫ ВМЕСТЕ".
                        </p>
	                    <p>
                            5. Важно не просто получить карту, но и пользоваться ей хотя бы иногда. Поэтому внимательно
                            изучи условия оформляемого продукта и подбери для себя действительно полезный вариант.
                        </p>
	                    <p class='bold red'>ПРОСЬБА ВСЕМ УЧАСТНИКАМ ПРОЕКТА СОБЛЮДАТЬ ДАННЫЕ
	                        ПРАВИЛА! НАРУШЕНИЕ ПРАВИЛ ПРОЕКТА ВЛЕЧЕТ ЗА СОБОЙ НАКАЗАНИЕ ВВИДЕ ПРЕДУПРЕЖДЕНИЯ,А ПРИ
                            ПОВТОРНОМ НАРУШЕНИИ БЛОКИРОВКОЙ ЛИЧНОГО КАБИНЕТА.</p>
	                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}