{% extends 'base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <section class="home-section" id="home">
        <div class="home-section-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <img src="{% static 'img/2-13.png' %}" width="100%" style="padding-top: 50px;">
                </div>
                <div class="col-md-5">
                    <img src="{% static 'img/3-15.png' %}" width="100%">
                </div>
                <hr style="width: 99%;">
                <div class="col-md-12">
                    <div class="container popup-gallery-wrapper">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
{#                                <div class="popup-gallery">#}
{#                                    <a class="popup4 video-icon-red" href="">#}
{#                                        <i class="fa fa-play"></i>#}
{#                                    </a>#}
{#                                </div>#}
{#                                <div class="popup-video-text-dark">Посмотреть видеопрезентацию проекта</div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <main>
        <section class="section_without_color">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>МЫ РАДЫ ПРИВЕТСТВОВАТЬ ТЕБЯ НА УНИКАЛЬНОМ ПРОЕКТЕ «МЫВМЕСТЕ»</h1>
                        <p class="word-spacing-align margin-top-40">
                            <span class="bold">"МЫВМЕСТЕ"</span> - это площадка-агрегатор банковских продуктов с
                            функцией выплаты вознаграждений участникам.
                        </p>
                        <p class="word-spacing-align">
                            Наша команда с 2016 года работает в сфере рекламы финансовых продуктов. Это огромный рынок.
                            Банки, как и любые другие компании, платят за то, что новые клиенты пользуются их
                            продуктами. Такие вознаграждения могут доходить до 5 тысяч рублей за один продукт! Кстати,
                            реклама от известных блогеров работает именно так: они призывают оформить банковскую карту,
                            пройдя именно по их ссылке, и получают свое вознаграждение. И такая схема работает давно.
                            Она надежна, как швейцарские часы.
                        </p>
                        <p class="word-spacing-align">
                            Наша идея в том, что это вознаграждение ты забираешь себе, как те блогеры. Тебе это выгодно,
                            потому что ты можешь превратить свое свободное время в постоянный заработок. Нам это
                            выгодно, потому что чем нас больше, тем больше мы все вместе зарабатываем из банковских
                            рекламных бюджетов.
                        </p>
                        <h5 class="margin-top-20">Два главных преимущества проекта:</h5>
                        <ol style="list-style-type: decimal">
                            <li>1. Для участия в нем не требуются никаких вложений.</li>
                            <li>2. Тебе не придется продвигать какую-то чушь. Все мы пользуемся банковскими картами,
                                кэшбеками и кредитами.</li>
                        </ol>
                        <p class="word-spacing-align">
                            Итого. Если ты хочешь работать, ты зарабатываешь. Если нет времени или просто надоело,
                            ты ничего не теряешь. А мы создаем условия и договоренности с рекламодателями, чтобы любой
                            участник нашего проекта смог выводить свои деньги.
                        </p>
                        <p>Интересно? Давай смотреть, как это работает.</p>
                    </div>
                    <div id="carouselExampleIndicators" class="carousel slide home-icons-carousel"
                         data-ride="carousel">
                        <ol class="carousel-indicators margin-top-30">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="center margin-top-40 margin-bottom-30">
                                    <img src="{% static 'img/main-icons/19-19.png' %}">
                                    <p class="center margin-top-20">Пятилетний опыт работы</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="center margin-top-40 margin-bottom-30">
                                    <img src="{% static 'img/main-icons/20-20.png' %}">
                                    <p class="center margin-top-20">Оплачиваемая корпоративная связь</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="center margin-top-40 margin-bottom-30">
                                    <img src="{% static 'img/main-icons/20-21.png' %}">
                                    <p class="center margin-top-20">Тренинги и обучения</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="center margin-top-40 margin-bottom-30">
                                    <img src="{% static 'img/main-icons/20-22.png' %}">
                                    <p class="center margin-top-20">Техническая поддержка</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="center margin-top-40 margin-bottom-30">
                                    <img src="{% static 'img/main-icons/20-23.png' %}">
                                    <p class="center margin-top-20">Самостоятельное планирование времени</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="center margin-top-40 margin-bottom-30">
                                    <img src="{% static 'img/main-icons/20-24.png' %}">
                                    <p class="center margin-top-20">Работа в команде лучших</p>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carouselExampleIndicators" role="button"
                           data-slide="prev" style="background-image: none; color: #0f74a8;">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carouselExampleIndicators" role="button"
                           data-slide="next" style="background-image: none; color: #0f74a8;">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="row margin-bottom-50 home-icons">
                        <div class="col-md-4 center margin-top-40">
                            <img src="{% static 'img/main-icons/19-19.png' %}">
                            <p class="center margin-top-20">Пятилетний опыт работы</p>
                        </div>
                        <div class="col-md-4 center margin-top-40">
                            <img src="{% static 'img/main-icons/20-20.png' %}">
                            <p class="center margin-top-20">Оплачиваемая корпоративная связь</p>
                        </div>
                        <div class="col-md-4 center margin-top-40">
                            <img src="{% static 'img/main-icons/20-21.png' %}">
                            <p class="center margin-top-20">Тренинги и обучения</p>
                        </div>
                        <div class="col-md-4 center margin-top-40">
                            <img src="{% static 'img/main-icons/20-22.png' %}">
                            <p class="center margin-top-20">Техническая поддержка</p>
                        </div>
                        <div class="col-md-4 center margin-top-40">
                            <img src="{% static 'img/main-icons/20-23.png' %}">
                            <p class="center margin-top-20">Самостоятельное планирование времени</p>
                        </div>
                        <div class="col-md-4 center margin-top-40">
                            <img src="{% static 'img/main-icons/20-24.png' %}">
                            <p class="center margin-top-20">Работа в команде лучших</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-grey" id="marketing">
            <div class="services-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <h2>МАРКЕТИНГ</h2>
                        </div>
                        <div class="col-md-5">
{#                            <div class="popup-gallery">#}
{#                                <a class="popup4 video-icon-red" href="">#}
{#                                    <i class="fa fa-play"></i></a>#}
{#                            </div>#}
{#                            <div class="popup-video-text-dark">Посмотреть видео маркетинга</div>#}
                        </div>
                    </div>
                    {% include 'web/inc/marketing.html' %}
                </div>
            </div>
        </section>
        <section id="marketing" class="margin-bottom-50">
            <div class="services-wrapper margin-top-70">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 margin-bottom-20">
                            <h2 class="center">ДЛЯ УЧАСТИЯ В ПРОЕКТЕ НЕОБХОДИМО:</h2>
                        </div>
                        <div class="col-md-3">
                            <h3 class="center"><span class="home-numbers">1</span></h3>
                            <h5 class="center" style="color: dimgrey">ПРОЙТИ РЕГИСТРАЦИЮ НА САЙТЕ</h5>
                        </div>
                        <div class="col-md-3">
                            <h3 class="center"><span class="home-numbers">2</span></h3>
                            <h5 class="center" style="color: dimgrey">
                                ИЗУЧИТЬ ПРАВИЛА ПРОЕКТА И ПОДПИСАТЬСЯ НА НАШ
                                <a href="https://t.me/myvmesteinfo" target="_blank">TELEGRAM КАНАЛ</a>
                            </h5>
                        </div>
                        <div class="col-md-3">
                            <h3 class="center"><span class="home-numbers">3</span></h3>
                            <h5 class="center" style="color: dimgrey">ОФОРМИТЬ СЕБЕ ЛЮБОЙ ПРОДУКТ</h5>
                            <ul>
                                <li class="small">- Выбери банковский продукт в разделе "Офферы".</li>
                                <li class="small">- Нажми на кнопку "Оформить заявку".</li>
                                <li class="small">
                                    - Оформи продукт и выполни по нему целевое действие. Например, по карте необходимо
                                    провести одну оплату.
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h3 class="center"><span class="home-numbers">4</span></h3>
                            <h5 class="center" style="color: dimgrey">ПРИГЛАСИТЬ НОВЫХ УЧАСТНИКОВ</h5>
                            <p class="small">
                                После оформления приглашай новых участников в проект по своей реферальной ссылке.
                            </p>
                        </div>
                        <div class="col-md-12">
{#                            <div class="popup-gallery">#}
{#                                <a class="popup4 video-icon-red" href="">#}
{#                                    <i class="fa fa-play"></i></a>#}
{#                            </div>#}
{#                            <div class="popup-video-text-dark">Посмотреть обучающее видео</div>#}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section_without_color">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>ПОЧЕМУ С НАМИ ИНТЕРЕСНО ЗАРАБАТЫВАТЬ</h3>
                        <div id="carousel-example-generic" class="carousel slide down-home-icons-carousel"
                             data-ride="carousel">
                            <ol class="carousel-indicators margin-top-30">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <div class="center margin-top-40 margin-bottom-30">
                                        <img src="{% static 'img/main-icons/20-25.png' %}">
                                        <p class="center margin-top-20">Заработок на пассиве</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="center margin-top-40 margin-bottom-30">
                                        <img src="{% static 'img/main-icons/20-26.png' %}">
                                        <p class="center margin-top-20">Без вложений</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="center margin-top-40 margin-bottom-30">
                                        <img src="{% static 'img/main-icons/20-27.png' %}">
                                        <p class="center margin-top-20">Долгосрочность поекта</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="center margin-top-40 margin-bottom-30">
                                        <img src="{% static 'img/main-icons/20-28.png' %}">
                                        <p class="center margin-top-20">Простой алгоритм действий</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="center margin-top-40 margin-bottom-30">
                                        <img src="{% static 'img/main-icons/20-29.png' %}">
                                        <p class="center margin-top-20">Без продаж</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="center margin-top-40 margin-bottom-30">
                                        <img src="{% static 'img/main-icons/20-30.png' %}">
                                        <p class="center margin-top-20">Еженедельные выплаты</p>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" role="button"
                               data-slide="prev" style="background-image: none; color: #0f74a8;">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button"
                               data-slide="next" style="background-image: none; color: #0f74a8;">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <div class="row margin-bottom-50 home-icons">
                            <div class="col-md-4 center margin-top-40">
                                <img src="{% static 'img/main-icons/20-25.png' %}">
                                <p class="center margin-top-20">Заработок на пассиве</p>
                            </div>
                            <div class="col-md-4 center margin-top-40">
                                <img src="{% static 'img/main-icons/20-26.png' %}">
                                <p class="center margin-top-20">Без вложений</p>
                            </div>
                            <div class="col-md-4 center margin-top-40">
                                <img src="{% static 'img/main-icons/20-27.png' %}">
                                <p class="center margin-top-20">Долгосрочность проекта</p>
                            </div>
                            <div class="col-md-4 center margin-top-40">
                                <img src="{% static 'img/main-icons/20-28.png' %}">
                                <p class="center margin-top-20">Простой алгоритм действий</p>
                            </div>
                            <div class="col-md-4 center margin-top-40">
                                <img src="{% static 'img/main-icons/20-29.png' %}">
                                <p class="center margin-top-20">Без продаж</p>
                            </div>
                            <div class="col-md-4 center margin-top-40">
                                <img src="{% static 'img/main-icons/20-30.png' %}">
                                <p class="center margin-top-20">Еженедельные выплаты</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}