{% load static %}

<div class="row mt-4">
    <div class="col-md-12">
        <p class="word-spacing-align">
            Проект работает по принципу сетевого маркетинга. За любой оформленный продукт выплачивается
            вознаграждение, сумма которого может варьироваться. Для примерного расчета за основу возьмем
            условную 1000 рублей.  В данном проекте действует пять уровней. Людей, которых приглашаете
            Вы по своей реферальной ссылке встают на первую линию под вами и с них вы получаете по 30%.
            То есть с каждого по 300 рублей от условной 1000. Далее те, кого приглашают эти пять
            участников встают на вашу вторую линию и так далее по следующей схеме.
        </p>

        <img src="{% static 'img/people.svg' %}" width="100%" class="home-images-marketing">

        <p class="word-spacing-align">
            Для примера простая схема заработка при которой, пригласив в проект всего лишь пять новых
            участников, и при том, что они выполнят точно такие же действия, ваш доход составит 750 тысяч
            рублей и это может быть уже через два месяца!
        </p>

        <table class="table" style="width: 100%; margin: 30px 0; font-size: 18px; overflow: auto;">
            <tr>
                <th class="center bold" style="background-color: lightgrey">Уровень</th>
                <th class="center bold" style="background-color: lightgrey">%</th>
                <th class="center bold" style="background-color: lightgrey">Количество человек</th>
                <th class="center bold" style="background-color: lightgrey">Прибыль</th>
                <th class="center bold" style="background-color: lightgrey">Время</th>
            </tr>
            <tr>
                <td class="center">1</td>
                <td class="center">30</td>
                <td class="center">5</td>
                <td class="center bold" style="background-color: #1d9b8f; color: white;">1500 ₽</td>
                <td class="center">1 - 10 дней</td>
            </tr>
            <tr>
                <td class="center">2</td>
                <td class="center">20</td>
                <td class="center">25</td>
                <td class="center bold" style="background-color: #1d9b8f; color: white;">5000 ₽</td>
                <td class="center">11 - 20 дней</td>
            </tr>
            <tr>
                <td class="center">3</td>
                <td class="center">15</td>
                <td class="center">125</td>
                <td class="center bold" style="background-color: #1d9b8f; color: white;">18750 ₽</td>
                <td class="center">21 - 30 дней</td>
            </tr>
            <tr>
                <td class="center">4</td>
                <td class="center">15</td>
                <td class="center">625</td>
                <td class="center bold" style="background-color: #1d9b8f; color: white;">93750 ₽</td>
                <td class="center">31 - 40 дней</td>
            </tr>
            <tr>
                <td class="center">5</td>
                <td class="center">20</td>
                <td class="center">3125</td>
                <td class="center bold" style="background-color: #1d9b8f; color: white;">625000 ₽</td>
                <td class="center">41 - 50 дней</td>
            </tr>
        </table>
{#	                        <div class="home-images-center">#}
{#	                            <img src="{% static 'images/marketing.png' %}">#}
{#	                        </div>#}
        <p class="word-spacing-align">
            Для тех кто хочет активно развиваться, посмотрите на схему как можно заработать четыре с
            лишним миллиона всего за 100 дней. На протяжении двух месяцев каждые 10 дней приглашайте
            всего лишь по пять новых участников, помогайте участникам своей структуры так же развиваться
            и приглашать в проект.
        </p>
        <div class="home-images-center">
            <img src="{% static 'images/100_days.png' %}" width="100%">
        </div>
    </div>
</div>
