<div class="marketing-images">
    <div class="row">
        <div class="col-md-2">
            <div class="marketing-images-phone center">
                <h3>1. Создание личной структуры</h3>
            </div>
        </div>
        <div class="col-md-2 margin-bottom-10">
            <img src="{% static 'img/marketing/marketing-33.png' %}" class="minimized">
        </div>
        <div class="col-md-2 margin-bottom-10">
            <img src="{% static 'img/marketing/marketing-35.png' %}" class="minimized">
        </div>
        <div class="col-md-2 margin-bottom-10">
            <img src="{% static 'img/marketing/marketing-37.png' %}" class="minimized">
        </div>
        <div class="col-md-2 margin-bottom-10">
            <img src="{% static 'img/marketing/marketing-38.png' %}" class="minimized">
        </div>
        <div class="col-md-2 margin-bottom-10">
            <img src="{% static 'img/marketing/marketing-34.png' %}" class="minimized">
        </div>
    </div>
    <div class="row row marketing-images-central-block">
        <div class="col-md-2"></div>
        <div class="col-md-10 margin-top-10">
            <p>Создание личной структуры</p>
        </div>
    </div>
    <div class="row marketing-images-central-block">
        <div class="col-md-3">
            <img src="{% static 'img/marketing/marketing-43.png' %}"
                 style="background: none; width: 60%; padding-left: 50px;">
        </div>
        <div class="col-md-10"></div>
    </div>
    <div class="row row marketing-images-central-block">
        <div class="col-md-2"></div>
        <div class="col-md-10 margin-bottom-10">
            <p>Возможность осуществлять личные продажи</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="marketing-images-phone center">
                <h3 class="margin-top-30">2. Возможность осуществлять личные продажи</h3>
            </div>
        </div>
        <div class="col-md-2 margin-bottom-10">
            <img src="{% static 'img/marketing/marketing-36.png' %}" class="minimized">
        </div>
        <div class="col-md-2 margin-bottom-10">
            <img src="{% static 'img/marketing/marketing-39.png' %}" class="minimized">
        </div>
        <div class="col-md-2 margin-bottom-10">
            <img src="{% static 'img/marketing/marketing-40.png' %}" class="minimized">
        </div>
        <div class="col-md-2 margin-bottom-10">
            <img src="{% static 'img/marketing/marketing-41.png' %}" class="minimized">
        </div>
        <div class="col-md-2 margin-bottom-10">
            <img src="{% static 'img/marketing/marketing-44.png' %}" class="minimized">
        </div>
    </div>
</div>