{% load static %}

<div class="row mt-4">
    <div class="col-md-12 margin-bottom-40">
        <p class="word-spacing-align">
            Зарабатывать у нас вы можете двумя способами. Развивайте наш проект, используя реферальную систему, и
            получайте проценты с каждого продукта, оформленного участниками вашей структуры. Также вы можете
            формировать свой личный доход. Оформляйте продукты в своем кабинете для себя или друга и получайте полную
            стоимость вознаграждения. За любой оформленный продукт выплачивается вознаграждение, сумма которого может
            варьироваться.
        </p>
        <p class="word-spacing-align">
            Для примерного расчета за основу возьмем условную 1000 рублей. В данном проекте действует пять уровней.
            Люди, которых приглашаете Вы по своей реферальной ссылке, встают на первую линию под вами, и с них вы
            получаете по 30%. То есть с каждого по 300 рублей от условной 1000. Далее те, кого приглашают эти участники,
            встают на вашу вторую линию, и так далее по пяти уровням.
        </p>
        <div class="marketing-images">
            <div class="row">
                <div class="col-md-2">
                    <div class="marketing-images-phone center">
                        <h3>1. Создание личной структуры</h3>
                    </div>
                </div>
                <div class="col-md-2 margin-bottom-10">
                    <img src="{% static 'img/marketing/marketing-33.png' %}" class="minimized">
                </div>
                <div class="col-md-2 margin-bottom-10">
                    <img src="{% static 'img/marketing/marketing-35.png' %}" class="minimized">
                </div>
                <div class="col-md-2 margin-bottom-10">
                    <img src="{% static 'img/marketing/marketing-37.png' %}" class="minimized">
                </div>
                <div class="col-md-2 margin-bottom-10">
                    <img src="{% static 'img/marketing/marketing-38.png' %}" class="minimized">
                </div>
                <div class="col-md-2 margin-bottom-10">
                    <img src="{% static 'img/marketing/marketing-34.png' %}" class="minimized">
                </div>
            </div>
            <div class="row row marketing-images-central-block">
                <div class="col-md-2"></div>
                <div class="col-md-10 margin-top-10">
                    <p>Создание личной структуры</p>
                </div>
            </div>
            <div class="row marketing-images-central-block">
                <div class="col-md-3">
                    <img src="{% static 'img/marketing/marketing-43.png' %}"
                         style="background: none; width: 60%; padding-left: 50px;">
                </div>
                <div class="col-md-10"></div>
            </div>
            <div class="row row marketing-images-central-block">
                <div class="col-md-2"></div>
                <div class="col-md-10 margin-bottom-10">
                    <p>Возможность осуществлять личные продажи</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="marketing-images-phone center">
                        <h3 class="margin-top-30">2. Возможность осуществлять личные продажи</h3>
                    </div>
                </div>
                <div class="col-md-2 margin-bottom-10">
                    <img src="{% static 'img/marketing/marketing-36.png' %}" class="minimized">
                </div>
                <div class="col-md-2 margin-bottom-10">
                    <img src="{% static 'img/marketing/marketing-39.png' %}" class="minimized">
                </div>
                <div class="col-md-2 margin-bottom-10">
                    <img src="{% static 'img/marketing/marketing-40.png' %}" class="minimized">
                </div>
                <div class="col-md-2 margin-bottom-10">
                    <img src="{% static 'img/marketing/marketing-41.png' %}" class="minimized">
                </div>
                <div class="col-md-2 margin-bottom-10">
                    <img src="{% static 'img/marketing/marketing-44.png' %}" class="minimized">
                </div>
            </div>
        </div>

        <p class="word-spacing-align margin-top-20">
            Возьмём для примера простую схему заработка, при которой, пригласив в проект всего лишь пять новых
            участников, и при том, что они выполнят точно такие же действия, вы получите 750 тысяч рублей. И это может
            быть уже через два месяца!
        </p>

        <table class="table" style="width: 100%; margin: 30px 0; font-size: 14px; overflow: auto;">
            <tr>
                <th class="center bold" style="background-color: lightgrey">Уровень</th>
                <th class="center bold" style="background-color: lightgrey">%</th>
                <th class="center bold" style="background-color: lightgrey">Количество человек</th>
                <th class="center bold" style="background-color: lightgrey">Прибыль</th>
                <th class="center bold" style="background-color: lightgrey">Время</th>
            </tr>
            <tr>
                <td class="center">1</td>
                <td class="center">30</td>
                <td class="center">5</td>
                <td class="center bold" style="background-color: #02BAE8; color: white;">1500 ₽</td>
                <td class="center">1 - 10 дней</td>
            </tr>
            <tr>
                <td class="center">2</td>
                <td class="center">20</td>
                <td class="center">25</td>
                <td class="center bold" style="background-color: #02BAE8; color: white;">5000 ₽</td>
                <td class="center">11 - 20 дней</td>
            </tr>
            <tr>
                <td class="center">3</td>
                <td class="center">15</td>
                <td class="center">125</td>
                <td class="center bold" style="background-color: #02BAE8; color: white;">18750 ₽</td>
                <td class="center">21 - 30 дней</td>
            </tr>
            <tr>
                <td class="center">4</td>
                <td class="center">15</td>
                <td class="center">625</td>
                <td class="center bold" style="background-color: #02BAE8; color: white;">93750 ₽</td>
                <td class="center">31 - 40 дней</td>
            </tr>
            <tr>
                <td class="center">5</td>
                <td class="center">20</td>
                <td class="center">3125</td>
                <td class="center bold" style="background-color: #02BAE8; color: white;">625000 ₽</td>
                <td class="center">41 - 50 дней</td>
            </tr>
        </table>
        {#	                        <div class="home-images-center">#}
        {#	                            <img src="{% static 'images/marketing.png' %}">#}
        {#	                        </div>#}
{#        <p class="word-spacing-align">#}
{#            Для тех кто хочет активно развиваться, посмотрите на схему как можно заработать несколько миллионов всего#}
{#            за 100 дней. На протяжении двух месяцев каждые 10 дней приглашайте всего лишь по пять новых участников,#}
{#            помогайте участникам своей структуры так же развиваться и приглашать в проект.#}
{#        </p>#}
{#        <div class="home-images-center">#}
{#            <img src="{% static 'images/100_days.png' %}" width="100%">#}
{#        </div>#}
        <p class="word-spacing-align">
            Итак, первый продукт вы оформили, и его стоимость распределилась по структуре. Далее у вас появляется
            возможность выступать в качестве брокера. То есть вы можете оформлять любые доступные продукты на площадке
            себе либо кому-то из близких и получать полную стоимость вознаграждения. Тем самым у вас будет два источника
            дохода: пассивный со структуры и активный с ваших личных продаж.
        </p>
    </div>
</div>
