<div class="modal fade mt-5 mb-5" id="ProductModal{{ category.slug }}{{ product.pk }}" tabindex="-1" role="dialog"
     aria-labelledby="ProductModalLabel" aria-hidden="true" style="padding-top: 40px;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container">
                    <button type="button" class="close-message" data-dismiss="modal" aria-label="Close"
                            style="float: right;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="row">
                        <div class="col-md-7">
                            <h4 class="modal-title" id="ProductModalLabel">
                                {% if product.card_name %}
                                    {{ product.card_name }}
                                {% else %}
                                    {{ product.bank_name }}
                                {% endif %}
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <p class="mt-2 mr-3" align="right">{{ product.category }}</p>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container mb-4 mt-3">
                    <h5>Целевое действие</h5>
                    <p>{{ product.short_condition }}</p>
                    <h5 class="margin-top-20">Ссылка для личной продажи</h5>
                    {% if user.profile.status %}
                        <input type="text" readonly style="color: #0b0b0b; width: 100%; margin-bottom: 10px;"
                               {% if product.category.name == 'Дебетовые карты' %}
                                    class="form-control DebitCardSlugInput"
                               {% elif product.category.name == 'Кредитные карты' %}
                                    class="form-control CreditCardSlugInput"
                               {% elif product.category.name == 'Ипотечные кредиты' %}
                                    class="form-control IpotekaSlugInput"
                               {% elif product.category.name == 'МФО' %}
                                    class="form-control MFOSlugInput"
                               {% elif product.category.name == 'Потребительские кредиты' %}
                                    class="form-control PotrebSlugInput"
                               {% elif product.category.name == 'Расчетно-кассовое обслуживание' %}
                                    class="form-control RKOSlugInput"
                               {% elif product.category.name == 'Рефенансирование' %}
                                    class="form-control RefinansingSlugInput"
                               {% endif %}
                               value="https://myvmeste.info/sale?category={{ category.slug }}&product={{ product.pk }}&pk={{ user.pk }}">
                        <button class="btn btn-outline-success my-2 my-sm-0 width-100"
                        {% if product.category.name == 'Дебетовые карты' %}
                            onclick="CopyDebitCardSaleSlug{{ forloop.counter0 }}()"
                        {% elif product.category.name == 'Кредитные карты' %}
                            onclick="CopyCreditCardSaleSlug{{ forloop.counter0 }}()"
                        {% elif product.category.name == 'Ипотечные кредиты' %}
                            onclick="CopyIpotekaSaleSlug{{ forloop.counter0 }}()"
                        {% elif product.category.name == 'МФО' %}
                            onclick="CopyMFOSaleSlug{{ forloop.counter0 }}()"
                        {% elif product.category.name == 'Потребительские кредиты' %}
                            onclick="CopyPotrebSaleSlug{{ forloop.counter0 }}()"
                        {% elif product.category.name == 'Расчетно-кассовое обслуживание' %}
                            onclick="CopyRKOSaleSlug{{ forloop.counter0 }}()"
                        {% elif product.category.name == 'Рефенансирование' %}
                            onclick="CopyRefinansingSaleSlug{{ forloop.counter0 }}()"
                        {% endif %}>
                            Скопировать ссылку
                        </button>
                    {% else %}
                        <p class="bold">Для осуществления личных продаж необходимо оформить любой банковский продукт</p>
                    {% endif %}
                </div>
                <hr>
                {% if product.main_characteristics %}
                    <div class="container mb-5 mt-5">
                        <h5>Основные характеристики</h5>
                        {% autoescape off %}
                            {{ product.main_characteristics }}
                        {% endautoescape %}
                    </div>
                {% endif %}
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h5 class="accordion-header" id="flush-heading{{ product.pk }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapse{{ product.pk }}" aria-expanded="false"
                                    aria-controls="flush-collapse{{ product.pk }}">
                                Описание продукта
                            </button>
                        </h5>
                        <div id="flush-collapse{{ product.pk }}" class="accordion-collapse collapse"
                             aria-labelledby="flush-heading{{ product.pk }}"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                {% autoescape off %}
                                    {{ product.condition }}
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {% if user.is_authenticated %}

                {% endif %}
                <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

<script>
    function CopyDebitCardSaleSlug{{ forloop.counter0 }}() {
        var copyText = document.getElementsByClassName("DebitCardSlugInput")[{{ forloop.counter0 }}];
        copyText.select();
        document.execCommand("copy");
    }
    function CopyCreditCardSaleSlug{{ forloop.counter0 }}() {
        var copyText = document.getElementsByClassName("CreditCardSlugInput")[{{ forloop.counter0 }}];
        copyText.select();
        document.execCommand("copy");
    }
    function CopyRefinansingSaleSlug{{ forloop.counter0 }}() {
        var copyText = document.getElementsByClassName("RefinansingSlugInput")[{{ forloop.counter0 }}];
        copyText.select();
        document.execCommand("copy");
    }
    function CopyIpotekaSaleSlug{{ forloop.counter0 }}() {
        var copyText = document.getElementsByClassName("IpotekaSlugInput")[{{ forloop.counter0 }}];
        copyText.select();
        document.execCommand("copy");
    }
    function CopyMFOSaleSlug{{ forloop.counter0 }}() {
        var copyText = document.getElementsByClassName("MFOSlugInput")[{{ forloop.counter0 }}];
        copyText.select();
        document.execCommand("copy");
    }
    function CopyPotrebSaleSlug{{ forloop.counter0 }}() {
        var copyText = document.getElementsByClassName("PotrebSlugInput")[{{ forloop.counter0 }}];
        copyText.select();
        document.execCommand("copy");
    }
    function CopyRKOSaleSlug{{ forloop.counter0 }}() {
        var copyText = document.getElementsByClassName("RKOSlugInput")[{{ forloop.counter0 }}];
        copyText.select();
        document.execCommand("copy");
    }
</script>