{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" type="text/css"
          href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <section class="section_without_color">
        <div class="container mb-5 margin-top-90">
            <div class="row">
                {% include 'profiles/inc/profile_navbar.html' %}
                <div class="col-md-9">
                    <h3>Сообщения</h3>
                    {% autoescape off %}
                        {% for message in messages %}
                            {{ message.action }}
                            <hr>
                        {% endfor %}
                    {% endautoescape %}
                    {% include 'profiles/inc/paginator.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}